@media (max-width:1237px){
  .about_section_4_inner .row {
    justify-content: center;
    align-items: center;
  }
  .about_section_4_inner .row .col{
    width: 33.33%;
    margin-left: 10%;
    margin-top: 50px;
  }
}
@media (max-width:992px){
  .header_right{
    display: none;
  }  
  .header_inner{
    border: none;
  }
  header .toggle_btn{
    display: block;
  }
  header .nav_open{
    display: block;
    position: absolute;
    top: 37px;
    right: 0px;
  }
  .header_right ul{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header_right ul{
    padding: 15px;
    background: #2A2A2C;
    padding-bottom: 30px;
    width: 600px;
  }
  .header_right ul li{
    margin: 0;
    border-bottom: 2px solid transparent;
    width: 100%;
  }
  .header_right ul li a{
    font-size: 20px;
    border-bottom: 2px solid gray;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
.home_banner_Section .banner_section_outer::before{
    display: none;
}
.home_banner_Section .banner_section_outer .banner_section_inner a {
    &::before{
        display: none;
    }

}
  /* home section 2 */
  .home_section_2 .home_section_2_inner .home_section_2_inner_left{
    margin: 0;
  }
  .home_section_2_inner{
    flex-direction: column-reverse;
  }
  .home_section_2 .home_section_2_inner .home_section_2_inner_left p{
    text-align: center;
    max-width: 100%;
  }
  .home_section_2 .home_section_2_inner .home_section_2_inner_left h2{
    margin-top: 77px;
    text-align: center;
    max-width: 100%;
  }
  .home_section_2 .home_section_2_inner .home_section_2_inner_left  a{
    display: block;
  }

  /* home section 3 */

  .home_section_3_inner{
    flex-direction: column;
  }
  .home_section_3 .home_section_3_inner .home_section_3_inner_right h2{
    text-align: center;
    margin-top: 77px;
    max-width: 100%;
  }
  .home_section_3 .home_section_3_inner .home_section_3_inner_right{
    margin-right: 0px;
}
.home_section_3 .home_section_3_inner .home_section_3_inner_right p{
    text-align: center;
    max-width: 100%;
}
.home_section_3 .home_section_3_inner .home_section_3_inner_right .home_section_3_inner_right_btn{
    justify-content: center;
}
.home_section_3 .home_section_3_inner .home_section_3_inner_right .home_section_3_inner_right_btn a{
    width: 100%;
}


/* home section 4 */

.home_section_4 .home_section_4_inner .home_section_4_inner_left{
    margin: 0;
  }
  .home_section_4_inner{
    flex-direction: column-reverse;
  }
  .home_section_4 .home_section_4_inner .home_section_4_inner_left p{
    text-align: center;
    max-width: 100%;
  }
  .home_section_4 .home_section_4_inner .home_section_4_inner_left h2{
    margin-top: 77px;
    text-align: center;
    max-width: 100%;
  }
  .home_section_4 .home_section_4_inner .home_section_4_inner_left  a{
   margin: auto;
   display: block;
  }

  /* about page responsive css */

  .about_section_1_top{
    flex-direction: column;
  }
  .about_section_1_top_left h1{
    text-align: center;
    max-width: 100%;
  }
  .about_section_1_top_left p{
    text-align: center;
    margin-bottom: 50px;
    max-width: 100%;
  }

  .about_section_1_bottom{
    flex-direction: column-reverse;
  }
  .about_section_1_bottom_right h2{
    text-align: center;
    max-width: 100%;
  }
  .about_section_1_bottom_right p{
    text-align: center;
    margin-bottom: 50px;
    max-width: 100%;
  }


  /* about section 2 */

  .about_section_2_inner{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about_section_2_inner_left h2{
    margin-top: 77px;
    text-align: center;
    max-width: 100%;
  }
  .about_section_2_inner_left p{
    text-align: center;
    max-width: 100%;
  }
  .about_section_2_inner_right h3{
    text-align: center;
    max-width: 100%;
  }
  .about_section_2_inner_right p{
    text-align: center;
    max-width: 100%;
  }


  /* about section 3 */

  .about_section_3_top{
    flex-direction: column;
  }
  .about_section_3_top_right h2 {
    text-align: center;
    margin-top: 36px;
    max-width: 100%;
  }
  .about_section_3_top_right p{
    text-align: center;
    max-width: 100%;

  }
  .about_section_3_bottom {
    flex-direction: column-reverse;
    margin-top: 36px;
  }
  .about_section_3_bottom_left h3{
    text-align: center;
    margin-top: 36px;
    max-width: 100%;
  }
  .about_section_3_bottom_left p{
    text-align: center;
    max-width: 100%;
  }

  /* about section 4 */

  .about_section_4_inner .row{
    align-items: center;
    justify-content: center;
  }
   .about_section_4_inner .row .col{
    width: 33.3%;
    margin: 0;
   }
   .about_section_4_inner .row .col .card_4{
    margin-top: 50px;
   }



   /* service section */

   /* service banner section */

   .services_banner_section_inner_bottom figure img{
    width: 100%;
   }


   /* service section 2 */

   .services_section_2_top{
    flex-direction: column-reverse;
   }
   .services_section_2_top_right h2{
    text-align: center;
   }
   .services_section_2_top_right p{
    text-align: center;
    max-width: 100%;
    margin-bottom: 25px;
  }
  .services_section_2_bottom {
    flex-direction: column;
  }
  .services_section_2_bottom_left h3{
    text-align: center;
    margin-top: 20px;
  }
 .services_section_2_bottom_left p{
    text-align: center;
    max-width: 100%;
    margin-bottom: 25px;
}

/* services section 3 */

.services_section_3_top{
  flex-direction: column-reverse;
}
.services_section_3_top_right h2{
  text-align: center;
}
.services_section_3_top_right p{
  text-align: center;
  margin-bottom: 25px;
  max-width: 100%;
}
.services_section_3_bottom {
  flex-direction: column;
}
.services_section_3_bottom_left h3 {
  text-align: center;
}
.services_section_3_bottom_left p{
  text-align: center;
  max-width: 100%;
  margin-bottom: 25px;
}


/* services section 4 */

.services_section_4_top{
  flex-direction: column-reverse;
}
.services_section_4_top_right h2{
  text-align: center;
}
.services_section_4_top_right p{
  text-align: center;
  max-width: 100%;
  margin-bottom: 25px;
}
.services_section_4_bottom{
  flex-direction: column;
}
.services_section_4_bottom_left h3 {
  text-align: center;
}
.services_section_4_bottom_left p {
  text-align: center;
  max-width: 100%;
  margin-bottom: 25px;
}














}

@media (max-width:924px){
  .about_section_4_inner .row .col{
    width: 50%;
  }
  .about_section_4_inner .row .col .card_1{
    margin: 50px auto 50px auto;
  }
  .about_section_4_inner .row .col .card_2{
    margin: 50px auto 50px auto;
  }
  .about_section_4_inner .row .col .card_3{
    margin: 50px auto 50px auto;
  }
  .about_section_4_inner .row .col .card_4{
    margin: 50px auto 50px auto;
  }
}

@media (max-width:624px){

  /* header responsive */
  header .nav_open{
    width: 100%;
  }
  .header_right ul{
    width: 100%;
  }
  .header_right ul li a{
    font-size: 100%;
  }
  .header_right ul{
    padding-bottom: 0;
  }

  /* header responsive end */

  /* home section 3 responsive */
    .home_section_2_inner_right figure img{
        width: 100%;
    }
    .home_section_3_inner_left figure img{
        width: 100%;
    }
    .home_section_4_inner_right figure img{
        width: 100%;
    }
    .footer_top_inner{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer_top_inner_left h2 {
        text-align: center;
    }
    .footer_top_inner_left p {
        text-align: center;
        margin-left: 15px;
    }
    .footer_top_inner_right{
        margin-top: 77px;
    }

    /* about sectin 4 */
    .about_section_4_inner .row .col{
      width: 100%;
    }

    /* about section banner */
    .about_section_1_top_right figure img{
      width: 100%;
    }
    .about_section_1_bottom_left figure img{
      width: 100%;
    }

    /* about section 3 */

    .about_section_3_top_left figure img{
      width: 100%;
    }
    .about_section_3_bottom_right figure img{
      width: 100%;
    }



    /* servisec section */

  /* services section 2 */

  .services_section_2_top_left figure img{
    max-width: 100%;
  }
.services_section_2_bottom_right figure img{
  max-width: 100%;
}

/* service section 3 */

.services_section_3_top_left figure img{
  max-width: 100%;
}
.services_section_3_bottom_right figure img{
  max-width: 100%;
}

/* services section 4 */

.services_section_4_top_left figure img{
  max-width: 100%;
}
.services_section_4_bottom_right figure img{
  max-width: 100%;
}











}
@media (max-width:422px){

    /* home banner section  */
    .home_banner_Section .banner_section_outer .banner_section_inner h1 {
        font-size: 20px;
    }

    /* home section 2 */
    .home_section_2 .home_section_2_inner .home_section_2_inner_left h2{
        font-size: 18px;
    }
    .home_section_2 .home_section_2_inner .home_section_2_inner_left p {
        font-size: 10px;
    }
    .home_section_3 .home_section_3_inner .home_section_3_inner_right h2{
        font-size: 18px;
    }
    .home_section_3 .home_section_3_inner .home_section_3_inner_right p{
        font-size: 10px;
    }
    .home_section_4 .home_section_4_inner .home_section_4_inner_left h2{
        font-size: 18px;
    }
    .home_section_4 .home_section_4_inner .home_section_4_inner_left p{
        font-size: 10px;
    }
}