@media (max-width:992px){
  .header_right{
    display: none;
  }  
  .header_inner{
    border: none;
  }
  header .toggle_btn{
    display: block;
  }
.home_banner_Section .banner_section_outer::before{
    display: none;
}
.home_banner_Section .banner_section_outer .banner_section_inner a {
    &::before{
        display: none;
    }

}
  /* home section 2 */
  .home_section_2 .home_section_2_inner .home_section_2_inner_left{
    margin: 0;
  }
  .home_section_2_inner{
    flex-direction: column-reverse;
  }
  .home_section_2 .home_section_2_inner .home_section_2_inner_left p{
    text-align: center;
  }
  .home_section_2 .home_section_2_inner .home_section_2_inner_left h2{
    margin-top: 77px;
    text-align: center;
  }
  .home_section_2 .home_section_2_inner .home_section_2_inner_left  a{
    display: block;
  }

  /* home section 3 */

  .home_section_3_inner{
    flex-direction: column;
  }
  .home_section_3 .home_section_3_inner .home_section_3_inner_right h2{
    text-align: center;
    margin-top: 77px;
  }
  .home_section_3 .home_section_3_inner .home_section_3_inner_right{
    margin-right: 0px;
}
.home_section_3 .home_section_3_inner .home_section_3_inner_right p{
    text-align: center;
}
.home_section_3 .home_section_3_inner .home_section_3_inner_right .home_section_3_inner_right_btn{
    justify-content: center;
}
.home_section_3 .home_section_3_inner .home_section_3_inner_right .home_section_3_inner_right_btn a{
    width: 100%;
}


/* home section 4 */

.home_section_4 .home_section_4_inner .home_section_4_inner_left{
    margin: 0;
  }
  .home_section_4_inner{
    flex-direction: column-reverse;
  }
  .home_section_4 .home_section_4_inner .home_section_4_inner_left p{
    text-align: center;
  }
  .home_section_4 .home_section_4_inner .home_section_4_inner_left h2{
    margin-top: 77px;
    text-align: center;
  }
  .home_section_4 .home_section_4_inner .home_section_4_inner_left  a{
   margin: auto;
   display: block;
  }
}

@media (max-width:664px){
    .home_banner_Section .banner_section_outer .banner_section_inner h1{
        font-size: 25px;
    }
}
@media (max-width:624px){
    .home_section_2_inner_right figure img{
        width: 100%;
    }
    .home_section_3_inner_left figure img{
        width: 100%;
    }
    .home_section_4_inner_right figure img{
        width: 100%;
    }
    .footer_top_inner{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer_top_inner_left h2 {
        text-align: center;
    }
    .footer_top_inner_left p {
        text-align: center;
        margin-left: 15px;
    }
    .footer_top_inner_right{
        margin-top: 77px;
    }
}
@media (max-width:422px){

    /* home banner section  */
    .home_banner_Section .banner_section_outer .banner_section_inner h1 {
        font-size: 20px;
    }

    /* home section 2 */
    .home_section_2 .home_section_2_inner .home_section_2_inner_left h2{
        font-size: 18px;
    }
    .home_section_2 .home_section_2_inner .home_section_2_inner_left p {
        font-size: 10px;
    }
    .home_section_3 .home_section_3_inner .home_section_3_inner_right h2{
        font-size: 18px;
    }
    .home_section_3 .home_section_3_inner .home_section_3_inner_right p{
        font-size: 10px;
    }
    .home_section_4 .home_section_4_inner .home_section_4_inner_left h2{
        font-size: 18px;
    }
    .home_section_4 .home_section_4_inner .home_section_4_inner_left p{
        font-size: 10px;
    }
}