@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    li{
        padding: 0;
        margin: 0;
    }
}
li{
    list-style: none;
}


/* header section css */


header{
    background-color: #2A2A2C;
    height: 84px;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 12px;
    overflow: hidden;
}
.header_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 18px;
}
.header_right ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_right ul li{
    margin-left: 37px;
}
.header_right ul li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 14px;
    color: #FFFFFF;
}
.header_right ul li:first-child{
    margin-left: 0px;
}
.header_left{
    margin-top: 24px;
}
.header_right{
    margin-top: 46px;
}



/* home page banner section css */

.home_banner_Section{
    background-color: #2A2A2C;
    height: 689px;
    padding-top: 20px;
}
.home_banner_Section .banner_section_outer::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 1220px;
    height: 597px;
    background-color: #00000047;
}
.home_banner_Section .banner_section_outer{
    height: 597px;
    padding-top: 20px;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
}
.home_banner_Section .banner_section_outer .banner_section_inner h1{
    font-family: 'Hedvig Letters Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    max-width: 635px;
}
.home_banner_Section .banner_section_outer .banner_section_inner a{
    padding: 18px 35px;
    background-color: #F8F2EF;
    display: inline-block;
    margin-top: 57px;
    margin-bottom: 148px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #2A2A2C;
    position: relative;
    z-index: 1;
    &::before{
        content: "";
        position: absolute;
        z-index: +2;
        top: 0;
        left: 0;
        background-color: #00000047;
        width: 154px;
        height: 64px;
    }
}
.home_banner_Section .banner_section_outer .banner_section_inner .banner_section_inner_btn{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* home section 2 css */
.home_section_2{
    background-color: #F8F2EF;
}
.home_section_2_outer{
    margin: 44px 0px 49px 0px;
}
.home_section_2_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home_section_2 .home_section_2_inner .home_section_2_inner_left h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    max-width: 399px;
}
.home_section_2 .home_section_2_inner .home_section_2_inner_left{
    margin-left: 87px;
}
.home_section_2 .home_section_2_inner .home_section_2_inner_left p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    margin-top: 36px;
    max-width: 398px;
    margin-bottom: 52px;
}
.home_section_2 .home_section_2_inner .home_section_2_inner_left  a{
    display: inline-block;
    padding: 20px 30px;
    background: #2A2A2C;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 14px;
    color: #F8F2EF;
}

/* home section 3 css */

.home_section_3{
    background-color: #2A2A2C;
}
.home_section_3_outer{
    margin: 44px 0px 49px 0px;
}
.home_section_3_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home_section_3 .home_section_3_inner .home_section_3_inner_right h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    text-align: right;
    color: #F8F2EF;
}
.home_section_3 .home_section_3_inner .home_section_3_inner_right{
    margin-right: 87px;
}
.home_section_3 .home_section_3_inner .home_section_3_inner_right p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #F8F2EF;
    margin: 35px 0px 47px 0px;
}
.home_section_3 .home_section_3_inner .home_section_3_inner_right .home_section_3_inner_right_btn{
    display: flex;
    align-items: center;
    justify-content: end;
}
.home_section_3 .home_section_3_inner .home_section_3_inner_right .home_section_3_inner_right_btn a{
    display: inline-block;
    padding: 20px 30px;
    background: #F8F2EF;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 14px;
    color: #2A2A2C;
}


/* home section 4 css */
.home_section_4{
    background-color: #F8F2EF;
}
.home_section_4_outer{
    margin: 44px 0px 49px 0px;
}
.home_section_4_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home_section_4 .home_section_4_inner .home_section_4_inner_left h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    max-width: 399px;
}
.home_section_4 .home_section_4_inner .home_section_4_inner_left{
    margin-left: 87px;
}
.home_section_4 .home_section_4_inner .home_section_4_inner_left p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    margin-top: 36px;
    max-width: 398px;
    margin-bottom: 52px;
}
.home_section_4 .home_section_4_inner .home_section_4_inner_left  a{
    display: inline-block;
    padding: 20px 30px;
    background: #2A2A2C;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 14px;
    color: #F8F2EF;
}

/* footer css start */

footer{
    background-color: #2A2A2C;
}